<section class="middle">
    <cdlc-lp-menu></cdlc-lp-menu>
    <div>
        <img src="/assets/img/middle/cdlc-theme.png" class="cdlc-theme" />
    </div>
    <article class="presentation">
        A Crème de la Crème é uma empresa de alimentos, que nasceu do desejo dos empresários Diogenes Monclair e Rosi Pimentel em
        proporcionar produtos de altíssima qualidade e inspirar o sentimento de satisfação e felicidade em seus clientes.
    </article>
    <div>
        <img src="/assets/img/middle/temos-tudo.png" class="cdlc-all" />
    </div>
</section>