<section class="contact">
    <div class="contact-mask">
        <div class="form-container">
            <div class="form-header">
                <span class="text">Esperamos seu contato</span>
                <div class="contact-group">
                    <span class="phone">(81) 98354-3962</span>
                    <span class="phone">(81) 3130-0802</span>
                    <span class="email">contato@cremedelacremepe.com.br</span>
                </div>
                <div class="social">

                    <a href="https://www.facebook.com/Cremedelacremebuffet/" target="_blank">
                        <img src="/assets/img/contact/fb-logo.png" width="18px">
                    </a>

                    <a href="https://www.instagram.com/cremedelacremepe/" target="_blank">
                        <img src="/assets/img/contact/insta-logo.png" width="20px" class="adjust-insta">
                    </a>
                </div>
            </div>
            <div class="form">
                <input type="text" id="txtName" placeholder="Nome" required [(ngModel)]="contact.name" />
                <input type="text" id="txtEmail" placeholder="E-Mail" required [(ngModel)]="contact.email" />
                <input type="text" id="txtSubject" placeholder="Assunto" required [(ngModel)]="contact.subject" />
                <textarea id="txaMessage" placeholder="Mensagem" required [(ngModel)]="contact.message"></textarea>
                <button id="btnEnviar" (click)="submitForm()">Enviar</button>
            </div>
        </div>
        <section id="copyright">
            <hr /> &copy; Copyright 2017. Crème de la Crème - Todos os direitos reservados
        </section>
    </div>
</section>