@media (max-width: 800px)
{
    .contact {
        background-size: 130%;
    }

    .form {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 600px)
{
    .form-container {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .form {
        width: 100%;
        text-align: center;
    }
    input, textarea {
        display: inline-block;
        width: 95%;
    }

    .contact {
        background-size: 170%;
    }
}

@media (max-width: 500px) {
    .contact {
        background-size: 250%;
    }
}